@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
   
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

.modal-container{
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -20;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease-out;
}

.modal-open{
    z-index: 20;
    visibility: visible;
    opacity: 1;
}

.modal{
    background-color: white;
    padding: 4rem;
    font-size: 2.4rem;
    border-radius: 1rem;
    text-align: center;
}


.modal >*:not(:first-child){
   margin-top: 2rem;
}


.winner{
    font-weight: 700;
    font-size: 3.2rem;
    color: rebeccapurple;
}

.container{
    position: relative;
    z-index: 10;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-header{
    text-align: center;
}

.page-title{
    font-size: 4.8rem;
    color: red
}

.menu-handler>*:not(:first-child){
    margin-top: 2rem;
}

.menu-handler >*:not(:first-child){
    margin-left: 2rem;
}

.button{
    background: black;
    color: white;
    outline: transparent;
    padding: 1.6rem 2.4rem;
    font-size: 2.4rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

.button:hover{
    background: red;
}

.game{
    
}

.game-spaces{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3px;
    background-color: black;
}

.hash-space{
    height:  8rem;
    width: 8rem;
    border: none;
    background: white;
    transition: all 150ms ease-in-out;
    cursor: pointer;
}

.hash-space:hover{
    background-color: rgb(161, 255, 255);
}